.view4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    color: black;
    background-color: lightyellow;
    border: 1px solid black;
}